a{
    color:inherit;
    text-decoration: none;
}

a:hover{
    color:inherit;
    text-decoration:none;
}

a:visited{
    color:inherit;
    text-decoration: none;
}

body{
    background-color:black;
}

.row{
    padding:0 !important;
}

/*Tab Styling*/

.tab{
    position:absolute;
    width:160px;
    height:46px;
    margin:0 46px;
    top:-45px;
    display:inline;
}

.middleTab{
    -moz-border-radius-topleft: 23px;
    -webkit-border-top-left-radius: 23px;
     border-top-left-radius: 23px;
    -moz-border-radius-topright: 23px;
    -webkit-border-top-right-radius: 23px;
    border-top-right-radius: 23px;
    position:absolute;
    display:block;
    width:100%;
    background-color:red;
    height:100%;
    z-index:10;
}

.middleTab:hover{
    cursor:pointer;
    cursor:hand;
}

.middleTab p{
    text-align:center;
    font-size:23px;
    font-family: 'Montserrat',sans-serif;
    color:white;
    text-shadow: 2px 2px 6px rgba(35, 60, 70, 1);
    padding:7px 0;
}

.leftTab,.rightTab{
    position:absolute;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    background-color:black;
    width: 46px;
    height: 100%;
    z-index:5;
 }

 .leftTab{
    left:-46px; 
 }

 .rightTab{
    right:-46px;
 }

.leftTabSmall,.rightTabSmall{
    position:absolute;
    width:50%;
    height:23px;
    background-color:red;
    z-index:0;
    bottom:0;
}

.leftTabSmall{
    left:-23px;  
}

.rightTabSmall{
    right:-23px;
}

/*Page Styling*/

.pageWrapper{
    position:relative;
    top:80px;   
}

.curved{
   -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
}

.blue{
    background-color:#81CFE0;
    border-color:#52B3D9 !important;
}

.blueTitle{
    color:#C5EFF7;
}

.green{
    background-color: #26C281;
    border-color:#26C281;
}

.orange{
    background-color: #EB9532;
    border-color:#EB9532;
}

/*Header*/

.header{
    padding:30px 0;
    text-align: center;
}

.header h1,h2{
    color:white;
    text-shadow: 2px 2px 6px rgba(35, 60, 70, 1);
    font-family: 'Montserrat', sans-serif;
}

.header img{
    width: 200px;
    height: auto;
   -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-top:15px;
}

/*Homepage*/

.title{
    display:block;
    border-top:solid;
    border-width: 2px;
    padding: 0;
    text-align: right;
    width:90%;
    margin:0 auto;
}

.title h1{
    display:inline-block;
    padding:2px;
    margin: 0;
    text-shadow: 2px 2px 6px rgba(35, 60, 70, 1);
    font-size:22px;
    font-family: 'Montserrat',sans-serif;
    border-bottom: solid;
    border-width:2px;
    border-left:solid;
}

.content{
    font-family: 'Raleway',sans-serif;
    display:block;
    color:#484848;
    font-size: 18px;
    margin:15px auto;
    margin-bottom: 35px;
    width:90%;
}

/*BioPage*/

.bioPage img{
    height:400px;
    width: 400px;
}

/*Contact*/

.contactPage p{
    font-size:20px;
    border-bottom: solid;
    margin-bottom:30px;
}

.contactPage button{
    display:block;
    margin:0 auto;
}

.formComponent{
    width:70%;
    margin:0 auto;
}

form{
    color:;
    margin-top:48px;
    font-family: 'Montserrat', sans-serif;
    color:#484848;
}

form,input,textarea{
    width:100%;
    outline:0;
    background-color: #EB9532;
}

input,textarea{
    border-style:none;
}

::-webkit-input-placeholder {
   color:#484848;
}

:-moz-placeholder { /* Firefox 18- */
   color:#484848; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color:#484848; 
}

:-ms-input-placeholder {  
   color:#484848; 
}

/*Contact Page*/
::-webkit-input-placeholder { /* WebKit browsers */
    direction:rtl;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    direction: rtl;
}
::-moz-placeholder { /* Mozilla Firefox 19+ but I'm not sure about working */
    direction: rtl;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    direction: rtl;
}

@media screen and (max-width:980px) {

}

